@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

body {
    font-family: "Gabarito", system-ui, "Noto Color Emoji", sans-serif;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

main {
    place-content: center;
    flex-grow: 1;
}

h1 {
    font-size: 72px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.move-btn {
    cursor: pointer;
    background-color: #555;
    height: 64px;
    width: 64px;
    font-size: 36px;
    display: grid;
    place-items: center;
    &:hover {
        background-color: #666;
    }
    &:active {
        background-color: #333;
    }
}
